.home-container {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: none;
    width: 100%;
    height: 30%;
}

.home-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}

.home-right {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
}