.work-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 350px;
    margin: 20px;
    border-radius: 40px;
    border: 2px solid white;
    padding: 10px;
}

.work-container:hover {
    border: 2px solid white;
    box-shadow: 0 0 10px white, 0 0 20px white;
    /* background-image: url("gray-moving.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.container-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    margin-right: 10px;
}

.mana-mind {
    width: 100%;
    height: 100%;
}

.container-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    height: 100%;
}

@font-face {
    font-family: 'Planewalker';
    src: url('./fonts/Planewalker.otf') format('opentype');
}

.container-right-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Planewalker', sans-serif;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 3rem;
}

.container-right-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 80%;
}

.mana-mind-screenshot {
    width: 20%;
    height: 80%;
    margin-right: 10px;
    box-shadow: 2px 2px 8px rgba(64, 224, 208, 0.5);
}

.work-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 10px;
}

.icon-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40%;
    padding: 10px;
    margin-bottom: 10px;
}

.c {
    height: 100%;
    width: 15%;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 60%;
    background-color: grey;
    color: white;
    border-radius: 30px;
    padding: 20px;
    text-shadow: 1px 1px 3px rgba(22, 23, 24, 0.5);
    font-size: 1.25rem;
    box-shadow: 2px 2px 8px rgba(64, 224, 208, 0.5);
}